* {
    font-family:'Roboto', sans-serif;
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
}
.container {
    display:flex;
    justify-content:space-between;
    width:1400px;
}
/*==================================HEADER==================================*/
header {
    display:flex;
    justify-content:center;
    height:100px;
}
.menu {
    display:flex;
    align-items:center;
}
.logo {
    display:flex;
    align-items:center;
}
.logo a {
    line-height:0px;
    outline:none;
}
.logo img{
    width:166px;
    height:70px;
}
nav ul,
nav li {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul {
    display:flex;
}
nav a { /*Texto do menu*/
    display:block;
    color:#111111;
    font-size:16px;
    margin-left:42px;
    text-decoration:none;
    padding-bottom:10PX;
}
nav .active a,
nav a:hover { /*Menu ativo*/
    color:#0064c1;
    border-bottom:2px solid #0064c1;
}
.menuMobile { /*Menu mobile*/
    display:none;
    width:36px;
    height:40px;
    margin-top:30px;
    margin-bottom:30px;
}
.mm-line { /*Linha do menu mobile*/
    height:3px;
    border-radius:3px;
    background-color:#005aae;
}
/*==================================BANNER==================================*/
.column {
    flex-direction:column;
    align-items:center;
}
#banner {
    display:flex;
    align-items:center;
    justify-content:center;
    height:800px;
    margin-bottom:500px;
}
.banner-left {
    display:flex;
    justify-content:center;
}
.banner-left img {
    height:456px;
}
.banner-right-title {
    color:#111;
    font-size:45px;
    font-weight:lighter;
}
.banner-right-title a {
    color:#005aae;
    font-weight:400;
    text-decoration:none;
}
.banner-right {
    display:flex;
    justify-content:center;
}
form {
    display:flex;
    flex-wrap:wrap;
}
.banner-right-form {
    color:#5f5f5f;
    font-size:17px;
    font-weight:lighter;
    line-height:25px;
    margin-top:38px;
    margin-left:0px;
}
.form-item {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:320px;
    height:80px;
    margin-right:16px;
    margin-bottom:10px;
    color:#FFF;
    border-radius:6px;
    padding:10px;
    background-color:#2a7af3;
}
.form-item label {
    font-size:16px;
}
.form-item 
input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
select {
    border:0;
    outline:none;
    width:290px;
    height:34px;
    padding-left:10px;
    font-size:14px;
    color:#FFF;
    text-align:center;
    border-bottom:2px solid #FFF;
    background-color:#2a7af3;
}
.banner-right-form button {
    padding:15px 25px;
    border-radius:6px;
    border:none;
    color:#FFF;
    font-size:14px;
    background-color:#02be6a;
}
/*==================================SERVICES==================================*/
#services {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:170px;
    box-shadow:0px 0px 20px #f2f2f2;
}
.services-left-title {
    color:#3d486f;
    font-size:36px;
    margin-top:74px;
    margin-bottom:60px;
}
.services-left-text {
    color:#5f5f5f;
    font-size:16px;
    line-height:25px;
    font-weight:lighter;
    max-width:360px;
}
.services-right {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:35px;
}
.services-right a {
    max-width:360px;
    margin:30px;
    padding:46px;
    border-radius:6px;
    color:#111111;
    font-size:16px;
    text-decoration:none;
}
.services-right a:hover {
    box-shadow:0px 0px 20px #d1d1d1;
}
.services-right-thumbnail img{
    height:47px;
}
.services-right-title {
    color:#111111;
    font-size:16px;
    margin-top:47px;
    margin-bottom:21px;
}
.services-right-text {
    color:#5f5f5f;
    font-size:15px;
    line-height:25px;
    font-weight:lighter;
}
/*==================================FOOTER==================================*/
footer {
    display:flex;
    justify-content:center;
    height:456px;
    background-color:#1c1c1c;
}
.footer-area {
    display:flex;
    justify-content:center;
    margin-top:100px;
}
.fm-1,
.fm-2,
.fm-3 {
    display:flex;
    text-align:center;
    flex:1;
    margin:20px;
    max-width:350px;
}
.footer-title {
    color:#ffffff;
    font-size:20px;
    font-weight:400;
}
.footer-title-bar {
    width:30px;
    height:2px;
    margin-top:14px;
    margin-bottom:44px;
    background-color:#2a7af3;
}
.footer-thumbnail {
    margin-bottom:10px;
}
.footer-text {
    color:#8d8d8d;
    line-height:25px;
    font-size:16px;
    font-weight:lighter;
    padding:10px;
}
.footer-social {
    display:flex;
}
.footer-social a {
    margin-top:33px;
}
.footer-social img {
    padding:13px;
    margin-right:8px;
    background-color:#282828;
}
.footer-social img:hover {
    background-color:#8e8e8e;
}
.footer-copy {
    display:flex;
    background-color:#131313;
    height:60px;
}
.footer-input {
    margin-top:33px;
}
footer input[type=email] {
    width:300px;
    height:48px;
    color:#8e8e8e;
    font-size:16px;
    padding-left:22px;
    padding-right:22px;
    border-radius:22px;
    border:1px solid #494949;
    background-color:#1c1c1c;
    background-image:url('../images/send.png');
    background-repeat:no-repeat;
    background-position:93%;
}
/*==================================RESPONSIVIDADE==================================*/
@media (max-width:1400px) {
    .container {
        width:1100px;
    }
    .services-right a {
        padding:20px;
        max-width:300px;
    }
    #banner {
        height:auto;
        margin-top:80px;
    }
    .banner-left img {
        height:418px;
    }
    .banner-right-title {
        font-size:30px;
    }
    .form-item {
        max-width:230px;
    }
    .form-item input[type="text"], input[type="email"], input[type="date"], input[type="file"], select {
        padding-left:0px;
        max-width:220px;
    }
}
@media (max-width:1100px) {
    .logo {
        margin-left:20px;
    }
    .menu {
        margin-right:20px;
    }
    #banner .container{
        flex-direction:column;
    }
    .banner-left img {
        height:280px;
        margin-left:0px;
    }
    .banner-right-title {
        font-size:36;
        margin-left:0px;
    }
    form {
        justify-content:center;
        align-items:center;
    }
    .services-left {
        margin-left:20px;
    }
    .services-left-title {
        font-size:32px;
    }
    .services-right {
        margin-left:20px;
    }
    .services-right a {
        padding:14px;
    }
    .fm-1, .fm-2, .fm-3 {
        margin:20px;
        max-width:300px;
    }
}
@media (max-width:900px) {
    /*==========MENU==========*/
    nav ul {
        display:none;
        flex-direction:column;
        position:absolute;
        left:0;
        width:100%;
        background-color:#fff;
    }
    nav a {
        color:#111;
        padding:20px;
    }
    nav .active a, nav a:hover {
        color:#111;
    }
    .menuMobile {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
    #banner {
        height:auto;
    }
    .banner-left img {
        height:260px;
    }
    .banner-right-text {
        text-align:center;  
    }
    .banner-right-title {
        font-size:32px;
        text-align:center;
        margin-top:30px;
    }
    .form-item {
        margin:6px;
    }
    #services .container{
        flex-direction:column;
    }
    .services-left {
        margin-right:20px;
    }
    .services-left-title {
        font-size:30px;
        text-align:center;
    }
    .services-left-text {
        max-width:none;
        text-align:center;
    }
    .about-title {
        font-size:24px;
    }
    footer {
        height:auto;
    }
    .footer-area {
        flex-direction:column;
    }
    .fm-1, .fm-2, .fm-3 {
        max-width:none;
    }
}
@media (max-width:500px) {
    #banner {
        margin-top:50px;
    }
    .banner-left img {
        margin-left:none;
        height:200px;
    }
    .banner-right-title {
        margin-left:0px;
    }
    .banner-right-text {
        margin-left:5px;
        margin-right:5px;
    }
    .form-item {
        margin:8px;
        max-width:330px;
    }
    .form-item input[type="text"], input[type="email"], input[type="date"], input[type="file"], select {
        max-width:330px;
    }
}